<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737346394316-sp6pre43rl0tg71r9njc3hk8ce327kjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737346394316-sp6pre43rl0tg71r9njc3hk8ce327kjv</string>
	<key>API_KEY</key>
	<string>AIzaSyA8V5-jGWVfV-aWT6V735T64XQy4pH-sJs</string>
	<key>GCM_SENDER_ID</key>
	<string>737346394316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crosstrackItalia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crosstrack-italia</string>
	<key>STORAGE_BUCKET</key>
	<string>crosstrack-italia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737346394316:ios:154a8bb5ba479e0e6a0a69</string>
</dict>
</plist>